version: "3.9"

services:
  neo4j:
    image: neo4j:5.20
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password123
    volumes:
      - neo4j_data:/data

  app:
    build: .
    container_name: university_project_app
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=password123
    command: python -m uvicorn api.app:app --host 0.0.0.0 --port 8000

volumes:
  neo4j_data:
